<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Delete Movie: {{movie.title}}</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <h4>Are you sure you want to delete?</h4>
</div>
<div class="modal-footer">
  <button id="yesBtn" type="button" class="btn btn-primary" hx-target="#movie-list" hx-delete="/movies/{{movie.id}}" _="on htmx:afterOnLoad call closeDeleteMovieModal()">Yes</button>
  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
</div>
