<thead>
  <tr>
      <th><input type="checkbox" _="on click 
if my.checked 
  set #selectedMovies.value to 10 
  add [@checked=true] to .chk-delete 
else 
  set #selectedMovies.value to 0 
  remove [@checked=true] from .chk-delete 
end 
if #selectedMovies.value is not '0' 
  remove [@disabled] from #bulk-delete 
else 
  add [@disabled] to #bulk-delete
end"></th>
    <th>Title</th>
    <th>Rating</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
</thead>
<tbody id="movie-table-body">
  {% for movie in movies %}
  <tr id="movie-{{movie.id}}">
      <td><input name="movies" type="checkbox" value="{{movie.id}}" class="chk-delete" _="on click 
if my.checked 
  increment #selectedMovies.value 
else 
  decrement #selectedMovies.value 
end 
if #selectedMovies.value is not '0' 
  remove [@disabled] from #bulk-delete 
else 
  add [@disabled] to #bulk-delete
end"/></td>
    <td>{{movie.title}}</td>
    <td>{{movie.rating}}</td>
    <td>
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" hx-get="/movies/{{movie.id}}/edit" hx-target="#offcanvas-body" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Edit</button>
    </td>
    <td>
	<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" hx-get="/movies/{{movie.id}}/delete" hx-target="#delete-modal-content">Delete</button>
    </td>
  </tr>
  {% endfor %}
</tbody>
