{% extends "layouts/default.html" %}
{% block title %}Movies - Heroku Clack sample{% endblock %}
{% block content %}
<div class="row">
  <div class="col-4">
    <h1>Movies</h1>
  </div>
  <div class="col-5 mt-3">
    <input class="form-control me-2" type="search" placeholder="Search Movies" aria-label="Search" name="query" hx-post="/movies/search"
          hx-trigger="keyup changed delay:500ms"
          hx-target="#movie-list">
  </div>
  <div class="col-3 mt-3" hx-include="#checked-movies">
    <button id="bulk-delete" class="btn btn-secondary" disabled hx-post="/movies/bulk-delete" hx-target="#movie-list" _="on htmx:afterOnLoad add [@disabled]">Bulk Delete</button>
    <input type="hidden" id="selectedMovies" value="0">
    <a href="/movies/new" class="btn btn-primary">New Movie</a>
  </div>
</div>
<form id="checked-movies">
<table class="table table-striped" id="movie-list">
  {% include "_movie-list.html" %}
</table>
</form>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Edit Movie</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" id="offcanvas-body">
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="delete-modal-content">
      <div class="modal-header">
	<h5 class="modal-title" id="exampleModalLabel">Delete Movie</h5>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
	<h4>Are you sure you want to delete?</h4>
      </div>
      <div class="modal-footer">
	<button id="yesBtn" type="button" class="btn btn-primary" hx-target="#movie-list">Yes</button>
	<button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>	
{% endblock %}
