{% extends "layouts/default.html" %}
{% block title %}Movies - Heroku Clack sample{% endblock %}
{% block content %}
<h1>Movies page</h1>
<a href="/movies/new" class="btn btn-primary">New Movie</a>
<table class="table table-striped" id="movie-list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for movie in movies %}
    <tr id="movie-{{movie.id}}">
      <td>{{movie.title}}</td>
      <td>{{movie.rating}}</td>
      <td>
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" hx-get="/movies/{{movie.id}}/edit" hx-target="#offcanvas-body" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Edit</button>
      </td>
      <td>
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" hx-get="/movies/{{movie.id}}/delete" hx-target="#delete-modal-content">
  Delete
</button>


      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel">Edit Movie</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" id="offcanvas-body">
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="delete-modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Movie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
	<h4>Are you sure you want to delete?</h4>
      </div>
      <div class="modal-footer">
        <button id="yesBtn" type="button" class="btn btn-primary" hx-target="#movie-list">Yes</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>	
{% endblock %}
