{% extends "layouts/default.html" %}
{% block title %}New Theatre - Heroku Clack sample{% endblock %}
{% block content %}
<h1>New Theature</h1>
<form action="/theatres" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Name:</label>
    <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Movie:</label>
    <select name="movie" class="form-select">
      {% for movie in movies %}
      <option value="{{movie.id}}">{{movie.title}}</option>
      {% endfor %}
      </select>
  </div>
  <button type="submit" class="btn btn-primary">Create Theatre</button>
  <a class="btn btn-secondary" href="/theatres">Cancel</a>
</form>
{% endblock %}
